<div class="row no-margin-top">
  <div class="small-12 column">
    <ul class="breadcrumbs">
      <li><%= link_to t("polls.index.section_header.title"), polls_path(:params=> {:op => @poll.op?})  %></li>
      <li><%= @poll.name %></li>
    </ul>
  </div>
</div>

<div class="expanded section-header margin-bottom">
  <div class="row">
    <div class="small-12 column">
      <h1><%= @poll.name %></h1>
    </div>

  </div>
</div>
