# service configuration for our dockerized Rails app
app:

  environment:
    - SMTP_PORT=25
    - SMTP_ADDRESS=prosmtp.procempa.com.br
    - RAILS_ENV=staging
    - CONSUL_AP_IDP_SSO_TARGET_URL=https://acessopoa-hom.procempa.com.br/auth/realms/acessopoa/protocol/saml
    - CONSUL_AP_SAML_CERT=MIICoTCCAYkCBgFcoaH+VzANBgkqhkiG9w0BAQsFADAUMRIwEAYDVQQDDAlhY2Vzc29wb2EwHhcNMTcwNjEzMTMyNDI3WhcNMjcwNjEzMTMyNjA3WjAUMRIwEAYDVQQDDAlhY2Vzc29wb2EwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQClGi7JUP2qiP4XY1bUKNUpgoeeniQhy0PgaoLko4hIlICNWe9B3HOPG8ZpIxuKBMx1s3iM1LiLhbX8C5olRd+4IlpYVYaUlSg+CsesSY0vMKIHiGyJF8gDNVGAqkFME9/d4FI01FhCko4j65zvDWTgr3KNtQYHQQE2JwmRl1H0Lz0PiCCKQ0uu3ZlQOqEzQ/5mr1WdXDpggkemUVSN85AZDC4NcEwPVLoAC32Ncunynwp2cRaG+jmvb6qn9ZUlwyXL1MjHlj/O3FNODpjAtF/9lc0UW9Hc7xiYLDKOXXrM7ib2kv7R0a44D2oA+9JnWiBUwwJFROVYqY8VaTS2XQS9AgMBAAEwDQYJKoZIhvcNAQELBQADggEBAII1sbx6kt3cQXZbWdUuxL60ESSP0yHV+PJyRafY/0o8lmBdt5XWoRAM5CnWJRc9BEWMiRSBoVU/J5jk29J+86jE61bWsbY1bwJ6g+a2q5L9QXPugVG6trMDUbmEWqKg30J6x66URCeMfWQY7u5yGq4O7vg8lvCRX9126fxTJVOUC6zBd9vXTCPQGr5IQmqeIIdVVFDioNAAEhWl3ABh+hvqlxYvEysvYunoFqCVKiL91pfbENTSODLhcOGHJxyZx5Xte4Jq7l905nHpv+DWxMOi3UnyO/dN0AakqAquFnzlSZJh65ZFnkS+MGekHqvdngsOLFkbsIefDZixW4HZIvs=
    - CONSUL_AP_IDP_SLO_TARGET_URL=https://acessopoa-hom.procempa.com.br/auth/realms/acessopoa/protocol/openid-connect/logout?redirect_uri=https%3A%2F%2Fopdigital-hom.procempa.com.br%2Fusers%2Fsign_out
    - PROC_CONSUL_DB_HOST=localhost
    - PROC_CONSUL_DB_PORT=5432
    - PROC_CONSUL_DB_POOL_SIZE=5
    - PROC_CONSUL_DB_USER=postgres
    - PROC_CONSUL_DB_PASS=postgres
    - PROC_CONSUL_DB_NAME=consul
  # use the Dockerfile next to this file
  build: .

  # rely on the RAILS_ENV value of the host machine
  # environment:
  #RAILS_ENV: $RAILS_ENV


  # expose the port we configured Unicorn to bind to
  ports:
    - "3001:3000"
  # map our application source code, in full, to the application root of our container
  volumes:
    - .:/var/www/consul

