// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//


//-------OVERRIDES -------

//Layout
p {
  line-height: $global-lineheight;
}

a {
  &:focus {
    outline: 2px solid $link;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font-family;
}

.lead {
  font-size: $lead-font-size;
}


.button {
  border-radius: 0;
	&.hollow {
	  border: 2px solid $link;
	}
	&.success {
		background: $cor-sucesso;
	}
}

header {
  background: #fff;
  border: 0 none;
  > .row {
  	background-color: $cinza-base;
  	@include breakpoint(medium) {
  		background-color: transparent; //rever
  	}
  }
}

.top-bar {
  background: #fff !important;
  color: $link;

  .top-bar-title a {
  	color: $texto;
  }
  .logo {
  	color: $texto;
  }

  .menu > li {

    @include breakpoint(medium) {
    }
    a {
      color: #fff;
      @include breakpoint(small only) {
      	&:hover, &:focus, &.active {
			color: $destaque;
	      }
      }
      @include breakpoint(medium) {
		color: $link;
      }
    }
    .button {
    	background: transparent;
    	@include breakpoint(small only) {
			&:hover {
				text-decoration: underline!important;
			}
    	}

      	@include breakpoint(medium) {
        	background: $link;
        	color: #fff;
      }
    }
  }

  .menu-icon.dark {
    &::after,
    &:hover::after {
      background: $link;
      box-shadow: 0 7px 0 $link, 0 14px 0 $link;
    }
  }

 /* .menu {
    &.is-dropdown-submenu {
      background: #fff;
    }

    .is-submenu-item {
      a {
        color: $text;
      }
    }
  } */
}

.subnavigation {
  @include breakpoint(medium) {
  	background-color: $cinza-base;
  	//color: #fff;
  }
  a {
  	color: #fff;
  	&:hover, &:focus, &.active {
  		color: $destaque;
  	}
  	&:focus {
  		outline: 2px solid $destaque; 
  	}
  	&.active {
  		border-bottom: 4px solid $destaque;
  	}
  }
}

.footer {
    background-color: $fundo-claro;
    border-top: 0 none;
    a {
      &:hover, &:focus {
        color: $cta;
      }
    }
 }

.footer, .push {
  min-height: $line-height * 7.25;
}

.wrapper {
  margin: 0 auto (-$line-height) * 9.375;
}

.info-prefeitura p {
  font-size: rem-calc(16);
}

.menu.simple {
  li {
    a {
      color: $link;
      &:hover {
        color: $link-hover;
      }
    }
    &.active {
      border-bottom: 4px solid $text;
      color: $text;
    }
  }
}

.breadcrumbs {
  margin: 1rem 0;
  > li {
    margin-bottom: 0!important;
    font-size: rem-calc(12)!important;
    color: $texto;
    -moz-osx-font-smoothing: auto;
    &:not(:last-child):after {
      color: $bordas;
      font-family: "icons";
      content: "\63\63";
      text-transform: none!important;
      letter-spacing: rem-calc(-9);
      margin: 0 0.75rem 0 0.25rem; 
    }
    > a {
      color: $link;
    }
  }
}

.tabs {
  border-color: $bordas;
}

.callout {
	&.success, &.notice {
		color: darken($cor-sucesso, 15%);
	}
	&.warning {
		color: darken($cor-aviso, 15%);
	}
	&.alert, &.error {
		color: darken($cor-erro, 10%);
	}
}

.social-share-button {
   .ssb-icon {
    background-color: $link;
    border-radius: 50%;
    height: 2.5rem!important;
    width: 2.5rem!important;
    &:before {
      line-height: 2.5rem!important;
    }
    &:hover, &:focus {
      background-color: $link-hover;
      color: #fff;
    } 
  }
}
.icon-whatsapp {
  background-color: $link;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5rem;
    &:before {
      line-height: 1.5rem!important;
      background-color: transparent!important;
      height: 2.5rem!important;
      width: 2.5rem!important;
    }
    &:hover, &:focus {
      background-color: $link-hover;
      //color: #fff;
    } 
}

.ssb-icon + .ssb-icon {
  margin-left: 0.5rem;
}

.ssb-telegram:before {
  font-size: 1.25rem;
}

//Home
.jumbo {
  margin-top: 0;
  &.highlight {
    background: linear-gradient(rgba(#000, .35), rgba(#000, .25)), url('pexels-photo-398532.jpg') 0 25%/cover;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(#000, .8);
    position: relative;
    @include breakpoint (large) {
      min-height: 18rem;
    }
  }
}

//Polls
.poll {
  border: 0 none;
  border-bottom: 1px solid $bordas;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.poll-more-info, .poll-more-info-answers {
    border-top: 1px solid $fundo-claro;
}

.social-share-button {
   .ssb-icon {
    background-color: $link;
    border-radius: 50%;
    height: 2.5rem!important;
    width: 2.5rem!important;
    &:before {
      line-height: 2.5rem!important;
    }
    &:hover, &:focus {
      background-color: $link-hover;
      color: #fff;
    } 
  }
}
.icon-whatsapp {
  background-color: $link;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5rem;
    &:before {
      line-height: 1.5rem!important;
      background-color: transparent!important;
      height: 2.5rem!important;
      width: 2.5rem!important;
    }
    &:hover, &:focus {
      background-color: $link-hover;
      //color: #fff;
    } 
}

.ssb-icon + .ssb-icon {
  margin-left: 0.5rem;
}

.ssb-telegram:before {
  font-size: 1.25rem;
}

.poll-more-info-answers {
  background-color: transparent;
  border-bottom: 1px solid $fundo-claro;
  .column:nth-child(2n+1), .columns:nth-child(2n+1) {
    border-right: 2px solid $bordas;
  }  
  .answer-description.short {
    height: auto;
    max-height: 18.75rem;
  }
}

//Admin
.admin-sidebar {
    background: $cinza-base;
    background: linear-gradient(to bottom, $cinza-base 0%, $texto 100%);
}


// -------- ESTILOS PRÓPRIOS OP DIGITAL -------

.section-header {
	background: $destaque;
	padding-top: 2.5rem;
  h1 {
    font-size: 2.25rem;
  }
}

.brasao {
  margin-right: 1rem;
}

.assinatura {
  background-color: $cinza-base;
  color: #fff;
  padding: rem-calc(8) 0;
  margin-top: 1rem;
  a {
    color: $destaque;
    text-decoration: none;
    &:hover, &:focus {
      color: $destaque;
      text-decoration: underline;
    }
  }
  img {
    @include breakpoint (small only) {
      padding-top: 1rem;
    }
  }
}

//Utilidades
.medium-float-right {
  @include breakpoint (medium) {
    float: right;
  }
}
.large-float-right {
  @include breakpoint (large) {
    float: right;
  }
}

.margin-footer {
  margin-bottom: 4rem;
}

//Alinhar à direita sem float - só funciona em elementos com display inline e inline-block
.medium-align-right {
  @include breakpoint (medium) {
    text-align: right;
  }
}